<div class="flex flex-col flex-1 items-stretch max-h-full overflow-auto">
  <div class="flex flex-col items-center py-2 flex-1 max-h-full overflow-auto">
    <div class="flex flex-col w-full gap-4 max-h-full overflow-auto">
      <div
        class="flex flex-col rounded p-2 gap-2 flex-grow w-full max-h-full overflow-auto"
      >
        <ng-container *ngFor="let event of roomEvents; let i = index">
          <ng-container [ngSwitch]="event.type">
            <ng-container *ngSwitchCase="'message'">
              <ng-container
                *ngTemplateOutlet="
                  messageTempl;
                  context: { $implicit: event.data, index: i }
                "
              >
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'enterleave'">
              <ng-container
                *ngTemplateOutlet="
                  enterLeaveEvent;
                  context: { $implicit: event }
                "
              ></ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <form
        class="flex flex-row gap-2 px-4"
        [formGroup]="form"
        (ngSubmit)="sendMessage()"
      >
        <input
          class="border border-gray-100 rounded p-1 flex flex-grow"
          formControlName="message"
        />
        <button
          class="bg-gray-200 p-1 text-gray-800 rounded-md font-medium text-sm"
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>

<ng-template #enterLeaveEvent let-event>
  <div class="flex justify-center text-gray-300 text-3xs">
    {{ event.data.username }}
    {{ event.data?.enter ? "entered" : "exited" }} the room
  </div>
</ng-template>
<ng-template #messageTempl let-msgEvent let-i="index">
  <div class="flex flex-row text-white items-end gap-2">
    <!-- message sender -->
    <div class="flex flex-flex-1 justify-end" style="flex-basis: 10%">
      <div
        class="flex justify-center items-center rounded-full p-0.5 bg-blue-300 h-6 w-6 uppercase text-2xs"
        *ngIf="showSenderIcon(msgEvent, i)"
      >
        {{ msgEvent.username | slice: 0:2 }}
      </div>
    </div>

    <!-- message -->
    <div
      style="display: flex; flex: 8 8 80%"
      [ngClass]="
        msgEvent.senderId === socketId ? 'justify-end' : 'justify-start'
      "
    >
      <div
        class="font-normal text-sm py-1 px-2 rounded-md w-fit"
        [ngClass]="
          msgEvent.senderId === socketId ? 'bg-green-500' : 'bg-gray-600'
        "
      >
        {{ msgEvent.messageData.message }}
      </div>
    </div>

    <!-- message reads -->
    <div class="flex flex-1" style="flex-basis: 10%"></div>
  </div>
</ng-template>
