<div
  class="w-screen h-screen flex flex-col bg-gray-800 justify-center items-center"
>
  <div class="flex flex-col w-screen gap-2 max-w-2xl py-2 flex-grow">
    <div class="flex flex-col rounded p-2 gap-2 flex-grow">
      <div
        *ngFor="let msg of messages"
        class="flex flex-col gap-0.5 text-white"
        [ngClass]="msg.id === socketId ? 'items-end' : 'items-start'"
      >
        <div *ngIf="msg.id !== socketId">From: {{ msg.id }}</div>
        <div class="bg-gray-500 font-normal text-sm py-1 px-2 rounded-md w-fit">
          {{ msg.message }}
        </div>
      </div>
    </div>
    <form
      class="flex flex-row gap-2 px-4"
      [formGroup]="form"
      (ngSubmit)="sendMessage()"
    >
      <input
        class="border border-gray-100 rounded p-1 flex flex-grow"
        formControlName="message"
      />
      <button
        class="bg-gray-200 p-1 text-gray-800 rounded-md font-medium text-sm"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
</div>
